@page "/Comercios/Editar_Nuevo/"
@page "/Comercios/Editar_Nuevo/{ID_Comercio:int}"
@using System.Text.RegularExpressions;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>@TituloPagina</h3>

<EditForm Model="@Comercio" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3">
        <label class="form-label">Nombre comercio</label>
        <InputText class="form-control" @bind-Value="@Comercio.Nombre"></InputText>
        <ValidationMessage For="@(() => Comercio.Nombre)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Tipo de comercio</label>
        <InputSelect class="form-select" @bind-Value="TipoComercioSeleccionado">
            <option value="0">-- Seleccionar --</option>
            @foreach (var item in ListaTipoComercio)
            {
                <option value="@item.ID_TipoComercio">@item.Descripcion</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Comercio.TipoComercio)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Capacidad</label>
        <InputNumber class="form-control" @bind-Value="@Comercio.Capacidad"></InputNumber>
        <ValidationMessage For="@(() => Comercio.Capacidad)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Cantidad de Mesas</label>
        <InputNumber class="form-control" @bind-Value="@Comercio.Mesas"></InputNumber>
        <ValidationMessage For="@(() => Comercio.Mesas)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Género Musical</label>
        <InputText class="form-control" @bind-Value="@Comercio.GeneroMusical"></InputText>
        <ValidationMessage For="@(() => Comercio.GeneroMusical)"></ValidationMessage>
    </div>    
    <div class="mb-3">
        <label class="form-label">Tipo de documento</label>
        <InputSelect class="form-select" @bind-Value="@Comercio.TipoDocumento">3
            <option value="0">-- Seleccionar --</option>
            <option value="CUIT">CUIT</option>
            <option value="CUIL">CUIL</option>
        </InputSelect>
        <ValidationMessage For="@(() => Comercio.TipoDocumento)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Nro. de Documento</label>
        <InputText class="form-control" @bind-Value="@Comercio.NroDocumento"></InputText>
        <ValidationMessage For="@(() => Comercio.NroDocumento)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Dirección</label>
        <InputTextArea class="form-control" @bind-Value="@Comercio.Direccion"></InputTextArea>
        <ValidationMessage For="@(() => Comercio.Direccion)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Correo</label>
        <InputText class="form-control" @bind-Value="@Comercio.Correo"></InputText>
        <ValidationMessage For="@(() => Comercio.Correo)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <InputText class="form-control" @bind-Value="@Comercio.Telefono"></InputText>
        <ValidationMessage For="@(() => Comercio.Telefono)"></ValidationMessage>
        @if (!string.IsNullOrEmpty(mensajeError))
        {
            <p class="text-danger">@mensajeError</p>
        }
    </div>    
    <div class="mb-3">
        <label class="form-label">Estado</label>
        <InputCheckbox class="form-control" @bind-Value="Comercio.Estado"></InputCheckbox>
        <ValidationMessage For="@(() => Comercio.Estado)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha de creación</label>
        <InputDate class="form-control" @bind-Value="@Comercio.FechaCreacion"> </InputDate>
        <ValidationMessage For="@(() => Comercio.FechaCreacion)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Usuario</label>
        <InputSelect class="form-select" @bind-Value="UsuarioSeleccionado">
            <option value="0">-- Seleccionar --</option>
            @foreach (var item in ListaUsuarios)
            {
                <option value="@item.ID_Usuario">@item.NombreUsuario</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Comercio.Usuario)"></ValidationMessage>
    </div>

    <button class="btn btn-primary" type="submit">@btnTexto</button>
    <a class="btn btn-warning" href="Comercios/Listado/">Volver</a>
</EditForm>

@code {
    [Parameter] public int ID_Comercio { get; set; }
    public string TituloPagina;
    public string btnTexto = string.Empty;
    public string Url = "/api/comercios";
    private string mensajeError;
    public int UsuarioSeleccionado { get; set; }
    public int TipoComercioSeleccionado { get; set; }

    DondeSalimos.Shared.Modelos.Comercio Comercio = new DondeSalimos.Shared.Modelos.Comercio();
    List<DondeSalimos.Shared.Modelos.Usuario> ListaUsuarios = new List<DondeSalimos.Shared.Modelos.Usuario>();
    List<DondeSalimos.Shared.Modelos.TipoComercio> ListaTipoComercio = new List<DondeSalimos.Shared.Modelos.TipoComercio>();

    protected override async Task OnInitializedAsync()
    {
        ListaUsuarios = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.Usuario>>("/api/usuarios/listado");
        ListaTipoComercio = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.TipoComercio>>("/api/tiposComercio/listado");

        if (ID_Comercio > 0)
        {
            TituloPagina = "Editar comercio";
            btnTexto = "Actualizar comercio";
            Comercio = await Http.GetFromJsonAsync<DondeSalimos.Shared.Modelos.Comercio>($"{Url}/buscarIdComercio/{ID_Comercio}");
            UsuarioSeleccionado = Comercio.ID_Usuario;
            TipoComercioSeleccionado = Comercio.ID_TipoComercio;
        }
        else
        {
            TituloPagina = "Nuevo comercio";
            btnTexto = "Guardar comercio";
            UsuarioSeleccionado = ListaUsuarios.FirstOrDefault().ID_Usuario;
            TipoComercioSeleccionado = ListaTipoComercio.FirstOrDefault().ID_TipoComercio;
        }
    }

    async Task Guardar()
    {
        if (!EsNumeroTelefonoValido(Comercio.Telefono))
        {
            mensajeError = "El número de teléfono no es válido.";

            return; // Evita que el formulario se envíe si el número de teléfono no es válido
        }

        Comercio.ID_Usuario = UsuarioSeleccionado;
        Comercio.ID_TipoComercio = TipoComercioSeleccionado;

        if (ID_Comercio > 0)
        {
            await Http.PutAsJsonAsync($"{Url}/actualizar/{ID_Comercio}", Comercio);
        }
        else
        {
            await Http.PostAsJsonAsync($"{Url}/crear", Comercio);
        }

        NavigationManager.NavigateTo("/Comercios/Listado");
    }

    private bool EsNumeroTelefonoValido(string telefono)
    {
        // Expresión regular que permite solo dígitos numéricos y caracteres especiales comunes
        string patron = @"^[0-9()+\- ]*$";
        return Regex.IsMatch(telefono, patron);
    }
}
