@page "/Usuarios/Editar_Nuevo/"
@page "/Usuarios/Editar_Nuevo/{ID_Usuario:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>@TituloPagina</h3>

<EditForm Model="Usuario" OnValidSubmit="@Guardar">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <div class="mb-3">
        <label class="form-label">Usuario</label>
        <InputText class="form-control" @bind-Value="Usuario.NombreUsuario"></InputText>
        <ValidationMessage For="@(() => Usuario.NombreUsuario)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Correo</label>
        <InputText class="form-control" @bind-Value="Usuario.Correo"></InputText>
        <ValidationMessage For="@(() => Usuario.Correo)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">UID</label>
        <InputText class="form-control" @bind-Value="Usuario.Uid"></InputText>
        <ValidationMessage For="@(() => Usuario.Uid)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Rol de usuario</label>
        <InputSelect class="form-select" @bind-Value="RolSeleccionado">
            <option value="0">-- Seleccionar --</option>
            @foreach (var item in ListaRolesUsuario)
            {
                <option value="@item.ID_RolUsuario">@item.Descripcion</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => Usuario.RolUsuario)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Estado</label>
        <InputCheckbox class="form-control" @bind-Value="Usuario.Estado"></InputCheckbox>
        <ValidationMessage For="@(() => Usuario.Estado)"></ValidationMessage>
    </div>
    <div class="mb-3">
        <label class="form-label">Fecha de creación</label>
        <InputDate class="form-control" @bind-Value="@Usuario.FechaCreacion"> </InputDate>
        <ValidationMessage For="@(() => Usuario.FechaCreacion)"></ValidationMessage>
    </div>

    <button class="btn btn-primary" type="submit">@btnTexto</button>
    <a class="btn btn-warning" href="Usuarios/Listado/">Volver</a>
</EditForm>

@code {
    [Parameter] 
    public int ID_Usuario { get; set; }
    public string TituloPagina = string.Empty;
    public string btnTexto = string.Empty;
    public string Url = "/api/usuarios";
    public int RolSeleccionado { get; set; }

    DondeSalimos.Shared.Modelos.Usuario Usuario = new DondeSalimos.Shared.Modelos.Usuario();
    List<DondeSalimos.Shared.Modelos.RolUsuario> ListaRolesUsuario = new List<DondeSalimos.Shared.Modelos.RolUsuario>();

    protected override async Task OnInitializedAsync()
    {
        ListaRolesUsuario = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.RolUsuario>>("/api/rolesUsuario/listado");

        if (ID_Usuario > 0)
        {
            TituloPagina = "Editar usuario";
            btnTexto = "Actualizar usuario";
            Usuario = await Http.GetFromJsonAsync<DondeSalimos.Shared.Modelos.Usuario>($"{Url}/buscarIdUsuario/{ID_Usuario}");
            RolSeleccionado = Usuario.ID_RolUsuario;
        }
        else
        {
            TituloPagina = "Nuevo usuario";
            btnTexto = "Guardar usuario";
            Usuario.ID_RolUsuario = ListaRolesUsuario.FirstOrDefault().ID_RolUsuario;
        }
    }

    async Task Guardar()
    {
        Usuario.ID_RolUsuario = RolSeleccionado;

        if (ID_Usuario > 0)
        {
            await Http.PutAsJsonAsync($"{Url}/actualizar/{ID_Usuario}", Usuario);
        }
        else
        {
            await Http.PostAsJsonAsync($"{Url}/crear", Usuario);
        }

        NavigationManager.NavigateTo("/Usuarios/Listado");
    }
}
