@page "/Usuarios/Listado"
@inject HttpClient Http

<h3>Listado de Usuarios</h3>
<form>
    <div class="row">
        <div class="col-md-5">
            <b>Usuario</b><br />
            <input type="text" class="form-control" placeholder="Nombre del usuario" @bind-value="Titulo" @bind-value:event="oninput" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" @onclick="filtro">Filtrar</button>
            <a class="btn btn-info" href="Usuarios/Editar_Nuevo/">Nuevo</a>
        </div>
    </div>
    <br />
</form>

@if (Usuarios == null)
{
    <tr>
        <td colspan="5" align="center">
            <img style="width:50px" src="https://media.tenor.com/On7kvXhzml4AAAAj/loading-gif.gif" />
        </td>
    </tr>
}
else if (Usuarios.Count == 0)
{
    <text>No hay usuarios en la base de datos</text>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Correo</th>
                <th scope="col">Rol de usuario</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha de creación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in Usuarios)
            {
                <tr>
                    <td>@row.NombreUsuario</td>
                    <td>@row.Correo</td>
                    <td>@row.RolUsuario.Descripcion</td>
                    <td>@row.Estado</td>
                    <td>@row.FechaCreacion</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="Usuarios/Editar_Nuevo/@row.ID_Usuario">
                            <i class="oi oi-pencil"></i>
                        </a>
                        <button type="button" class="btn btn-danger btn-sm ms-2" href="Usuarios/Eliminar/@row.ID_Usuario">
                            <i class="oi oi-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public string Titulo { get; set; }
    public string Url = "/api/usuarios";

    private List<DondeSalimos.Shared.Modelos.Usuario> Usuarios;

    protected override async Task OnInitializedAsync()
    {
        await CargarUsuarios();
    }

    async Task CargarUsuarios()
    {
        Usuarios = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.Usuario>>($"{Url}/listado");
    }

    public async Task filtro()
    {
        //Filtrar por 'Usuario'
        if (!string.IsNullOrEmpty(Titulo))
        {
            Usuarios = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.Usuario>>($"{Url}/buscarNombreUsuario/{Titulo}");
        }
        else
        {
            await CargarUsuarios();
        }

        StateHasChanged();
    }

    private async Task Eliminar(int id)
    {
        /*var resultado = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Eliminar Usuario",
                Text = "Deseas eliminar el usuario?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        if (resultado.IsConfirmed)
        {
            await Http.DeleteAsync($"{Url}/{id}");

            Usuarios = await Http.GetFromJsonAsync<List<DondeSalimos.Shared.Modelos.Usuario>>(Url);
        }*/
    }
}